<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>sample07</title>
</head>
<body>
	<h1 th:text="${#dates.format(now,'yyyy-MM-dd')}"></h1>
		<div th:with="timeValue=${#dates.createToday()}">
			<p>[[${timeValue}]]
		</div>
	<h1 th:text="${#numbers.formatInteger(price,3,'COMMA')}"></h1>
		<div th:with="priceValue=99.87654">
			<p th:text="${#numbers.formatInteger(priceValue, 3, 'COMMA')}"></p>
			<p th:text="${#numbers.formatDecimal(priceValue,5,10,'POINT')}"></p>
		</div>
	<h1 th:text="${title}"></h1>
		<span th:utext="${#strings.replace(title, 's', '<b>s</b>')}"></span>
		<ul>
			<li th:each="str:${#strings.listSplit(title, ' ')}">[[${str}]]</li>
		</ul>
	<h1 th:text="${options}"></h1>
</body>
</html>
<!-- 
Thymeleaf의 유틸리티 객체
Expression Basic Object(표현식 기본 객체): #ctx, #vars, #locale, #httpServletRequest, #httpSession
Expression Utility Objects(표현식 유틸 객체): #dates, #calendars, #numbers, #strings, #objects, 
										 #bools, #ararys, #lists, #sets, #maps, #aggregates, #messages
 -->